h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
list-style-type: none;
}

a {
text-decoration: none;
}

button {
    cursor: pointer;
    }

    body {
        font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #FFFFFF;
        }

        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
          }

          .container {
            max-width: 320px;
            padding-left: 16px;
            padding-right: 16px;
            margin-left: auto;
            margin-right: auto;
          }

          .nav-link-list:hover,
.nav-link-list:focus {
    color: #404BBF;
}

.nav-link:hover,
.nav-link:focus
{
background-color: #404BBF;
}
/* ==============HEADER STYLE MOBILE================ */
          .header-desing {
            padding-top: 17px;
            padding-bottom: 17px;
            border-bottom: 1px solid #e7e9fc;
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
          }

          .page-navigation {
            display: none;
          }

          .page-navigation-contact {
            display: none;
          }

          .logo {
            color: #4D5AE5;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.17;
            letter-spacing: 0.03em;
          }
          
          .logotype {
            color: #2E2F42;
          }

          .mobile-menu-open-btn {
            background-color: transparent;
            border: none;
            padding: 0;
            line-height: 0;
          }

          .container-nav {
            display: flex;
            align-items: center;
            /* justify-content: space-between; */
          }

          .mobile-menu-open-btn {
            margin-left: auto;
          }

          .mobile-menu-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999999;
            width: 100%;
            height: 100%;
            background-color: #FFFFFF;
            transform: translateX(100%);
            transition: transform 250ms linear;
          }

          .mobile-menu-wrapper.is-open {
            transform: translateX(0%);
          }

          .mobile-menu-container {
            position: relative;
            padding-top: 72px;
            padding-bottom: 40px;
          }

          .mobile-menu-close-btn {
            position: absolute;
            top: 24px;
            right: 24px;
            padding: 0;
            line-height: 0;
            width: 24px;
            height: 24px;
            display: flex;
            background-color: transparent;
            stroke: #2E2F42;
            border-radius: 50%;
            border: 1px #E7E9FC solid;
            /* border: none; */
            align-items: center; 
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

          .mobile-menu-close-icon {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

          .mobile-menu-close-btn:hover,
          .mobile-menu-close-btn:focus {
            border: none;
          }

          .mobile-menu-close-btn:hover,
          .mobile-menu-close-btn:focus {
            fill: #FFFFFF;
            background-color: #404BBF;
          }

          .mobile-menu-navigation {
            /* display: flex; */
          }

          .mobile-menu {
            /* margin: 0; */
            /* padding-top: 72px; */
            /* padding-bottom: 168px; */
            margin-bottom: 168px;
          }

          .mobile-menu-item:not(:last-child) {
            margin-bottom: 40px;
          }

          .mobile-menu-link {
            color: #2E2F42;
            font-size: 36px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.11;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

          .design {
            color: #404BBF;
          }


          .mobile-link {
            display: flex;
            color: #4D5AE5;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            margin-bottom: 24px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

          .mobile-link-email {
            color: #434455;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          
          .mobile-adress {
            
          }

          .mobile-link-list {
            margin-bottom: 48px;
          }

          .mobile-list {
            display: flex;
            gap: 40px;
          }

          .mobile-social-link {
            width: 40px;
            height: 40px;
          }

          .mobile-social-list {
            display: flex;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #4D5AE5;
            align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

          .mobile-window-icon {
            fill: #F4F4FD;
          }

/* ==============/HEADER STYLE MOBILE================ */

/* ================MAIN MENU MOBILE================== */
          .main {
            background-color: #2E2F42;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.jpg);
            max-width: 320px;
            height: 432px;
            margin: auto;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 72px;
            padding-bottom: 72px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
          }

          @media screen and (min-resolution: 192dpi),
          screen and (min-resolutiion: 2dppx),
          screen and (min-device-ratio: 2) {
            .main {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@2x.jpg);
            }
          }

          .main-button {
            color: white;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.02em;
            max-width: 165px;
            text-align: center;
            margin-bottom: 72px;
            margin-right: auto;
            margin-left: auto;
          }

          .main-button-list {
            color: white;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            background-color: #4d5ae5;
            border-radius: 4px;
            margin-left: auto;
            margin-right: auto;
            transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
/* ================/MAIN MENU MOBILE================== */

/* =================BENEFITS MENU MOBILE================== */
            .section-benefits {
              padding: 96px 16px;
            }

            .icon-list {
                display: none;
            }

            .container-benefits {

            }
            

            .container-benefits-item:not(:last-child) {
                margin-bottom: 72px;
            }

            .benefits-list {
                display: flex;
                color: #2E2F42;
                font-size: 36px;
                font-weight: 700;
                line-height: 1.11;
                letter-spacing: 0.02em;
                margin-bottom: 8px;
                justify-content: center;
                max-width: 288px;
            }

            .benefits-list-item {
                color: #434455;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.02em;
                max-width: 288px;
            }

            /* =================/BENEFITS MENU MOBILE================== */

            /* ==================TEAM MENU MOBILE==================== */
            .team {
                
                background-color: #F4F4FD;
                padding: 96px 16px;
            }

            .team-list {
                color: #2E2F42;
                font-size: 36px;
                font-weight: 700;
                line-height: 1.11;
                letter-spacing: 0.02em;
                text-align: center;
                margin-bottom: 72px;
            }

            .container-list-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }

            .container-name {
                padding: 32px 0;
            }

            .name {
            background-color: #FFFFFF;
            border-radius: 0px 0px 4px 4px;
            box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            max-width: 264px;
            
            }

            .name:not(:last-child) {
                margin-bottom: 72px;
            }
            

            .name-list {
                color: #2E2F42;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 0.02em;
                margin-bottom: 8px;
            }

            .name-list-item {
                color: #434455;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.02em;
                margin-bottom: 8px;
            }

            .social-link {
                display: flex;
                gap: 24px;
                justify-content: center;
            }

            .social-link-item {
                width: 40px;
                height: 40px;
            }

            .social-list {
                width: 100%;
                height: 100%;
                background-color: #4d5ae5;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .logo-social {
                fill: #f4f4fd;
            }
/* ==================/TEAM MENU MOBILE==================== */

/* =====================PORTFOLIO MENU MOBILE===================== */

             .section-portfolio {
              padding: 96px 16px;
             }

             .container-portfolio-design {
              max-width: 320px;
              
             }

             .container-portfolio {
              display: flex;
              flex-direction: column;
              gap: 48px;
              /* max-width: 288px; */
             }

             .portfolio {
              color: #2E2F42;
              font-size: 36px;
              font-weight: 700;
              line-height: 1.11;
              letter-spacing: 0.02em;
              text-align: center;
              margin-bottom: 72px;
             }

             .overlay-item {
              display: none;
             }

             .overlay {
              display: none;
             }

             .portfolio-list {
              color: #2E2F42;
              font-size: 20px;
              font-weight: 500;
              line-height: 1.2;
              letter-spacing: 0.02em;
              margin-bottom: 8px;
             }

             .container-text {
              padding: 32px 16px;
              border: 1px solid #F4F4FD;
              border-top: none;
             }

             .container-portfolio-list {
              box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
             }

/* =====================/PORTFOLIO MENU MOBILE===================== */

/* =====================FOOTER MENU MOBILE==================== */
             .footer {
              background-color: #2E2F42;
              padding: 96px 16px;
             }

             .logo-footer {
              display: flex;
              color: #4D5AE5;
              font-size: 18px;
              font-family: 'Raleway', sans-serif;
              font-weight: 700;
              text-transform: uppercase;
              line-height: 1.16;
              letter-spacing: 0.03em;
              justify-content: center;
             }

             .logotype-footer {
              color: #F4F4FD;
             }

             .footer-desing-item {
              margin-bottom: 72px;
             }

             .footer-item {
              color: #F4F4FD;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.02em;
              margin-top: 16px;
              max-width: 264px;
              height: 72px;
             }

             .footer-link {
              display: flex;
              justify-content: center;
              color: white;
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.02em;
              margin-bottom: 16px;
             }

             .footer-link-item {
              margin-bottom: 72px;
             }

             .footer-list {
              display: flex;
              justify-content: center;
              gap: 16px;
             }

             .footer-icon {
              width: 40px;
              height: 40px;
          }

          .footer-desing-list {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .footer-desing-list:hover,
        .footer-desing-list:focus {
          background-color: #31d0aa;
      }
      

        .logo-footer-desing {
          fill: #f4f4fd;
      }

      .footer-subscribe-text {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
      }

      .footer-subscribe-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .footer-subscribe-input {
        background-color: transparent;
        width: 288px;
        height: 40px;
        border: 1px #FFFFFF solid;
        border-radius: 4px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        color: #ffffff;
        outline: 0px solid transparent;
    }

    .footer-subscribe-input::placeholder {
      color: #ffffff;
  }


  .footer-subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #4D5AE5;
    color: white;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
/* gap: 16px; */
transition: background-color 250ms linear;
padding: 8px 24px;
margin-right: auto;
margin-left: auto;

}

/* =====================/FOOTER MENU MOBILE==================== */

/* =================BACKDROP MOBILE================ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* opacity 1 */
.backdrop.is-open {
  opacity: 1 ;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
width: 288px;
min-height: 623px;
background-color: #FCFCFC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 4px;
padding: 72px 16px 24px;
}

.modal-close-btn {
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
  stroke: #2E2F42;
  background-color: #E7E9FC;
  border: none;
  border: 1px rgba(0, 0, 0, 0.10) solid;
  border-radius: 50%;
  transition: background-color 250ms linear;
  align-items: center; 
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
}

.rewiew-form-contacts {
  color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 16px;
}

.rewiew-form-field-label {
  display: block;
  color: #8E8F99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.rewiew-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  background-color: transparent;
  padding-left: 34px;
  transition: border-color 250ms linear;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiew-form-input:focus {
  border-color: #4D5AE5;
}

.rewiew-form-input-wraper {
  position: relative;
}

.rewiew-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiew-form-input:focus + .rewiew-form-input-icon {
  fill: #4D5AE5;
}

.rewiew-form-field-wrapper {
  margin-bottom: 8px;
}

.rewiew-form-comment {
  /* color: rgba(46, 47, 66, 0.40); */
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}

.rewiew-form-field-wrapper-comment {
  margin-bottom: 16px;
}

.rewiew-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.40);
}

.rewiew-form-comment:focus {
  border-color: #4D5AE5;
}

.rewiew-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  fill: transparent; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiew-form-checkbox-label {
  color: #8E8F99;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
}

.rewiew-form-privacy {
    color: #4D5AE5;
/* font-size: 12px;
font-weight: 400; */
text-decoration: underline;
}

.rewiew-form-chekbox-wrapper {
  margin-bottom: 24px;
}

.rewiew-form-chekbox:checked 
+ .rewiew-form-checkbox-label 
> .rewiew-form-own-checkbox {
background-color: #404BBF;
border-color: #404BBF;
border: none;
fill: #F4F4FD;
}

.rewiew-form-chekbox:focus 
+ .rewiew-form-checkbox-label 
> .rewiew-form-own-checkbox {
outline: 1px solid #404BBF;
}

.rewiew-form-own-checkbox-icon {
    fill: #F4F4FD;
    opacity: 0;
}

.rewiew-form-chekbox:checked 
+ .rewiew-form-checkbox-label 
 .rewiew-form-own-checkbox-icon {
opacity: 1;
}

.rewiew-form-submit-btn {
  display: block;
color: #ffffff;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;
min-width: 169px;
height: 56px;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
border: none;
margin-left: auto;
margin-right: auto;
}

/* =================/BACKDROP MOBILE================ */





          @media screen and (min-width: 768px) {
            .container {
                max-width: 736px;
            }

            .mobile-menu-open-btn {
                display: none;
            }
/* ================HEADER TABLET STYLE================ */
            .header-desing {
                padding-top: 0;
                padding-bottom: 0;
            }

            .logo {
                margin-right: 120px;
            }

            .page-navigation-link {
                display: flex;
                align-items: center;
            }

            .page-navigation-link {
                display: flex;
            }
            
            .page-navigation {
                display: flex;
                gap: 40px;
                align-items: center;
            }

            .nav {
                color: #2E2F42;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.02em;
                display: block;
                padding-top: 24px;
                padding-bottom: 24px;
                position: relative;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .nav-inline {
                color: #404BBF;
            }

            .nav-inline::after {
                content: '';
                width: 100%;
                height: 4px;
                background-color: #404BBF;
                display: block;
                bottom: -1px;
                position: absolute;
                border-radius: 2px;
            }

            .contacts {
                display: block;
                color: #434455;
                font-size: 12px;
                font-weight: 400;
                line-height: 1.16;
                letter-spacing: 0.04em;
                font-style: normal;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
               }

               .mobile-contact:not(:last-child) {
                margin-bottom: 12px;
               }

           .page-navigation-contact {
            display: block;
           }

           .container-nav {
            justify-content: space-between;
           }
/* ================/HEADER TABLET STYLE================ */
            .container-list-item {
                display: flex;
                /* flex-wrap: wrap; */
            }


/* ===============MAIN TABLET STYLE================== */
           .main {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet.jpg);
            background-color: #2E2F42;
            max-width: 768px;
            height: 436px;
            padding-top: 112px;
           }

           @media screen and (min-resolution: 192dpi),
           screen and (min-resolutiion: 2dppx),
           screen and (min-device-ratio: 2) {
            .main {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet@2x.jpg);
            }
           }

           .main-button {
            color: white;
            font-size: 56px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            max-width: 496px;
            margin-bottom: 36px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
           }

           /* ===============/MAIN TABLET STYLE================== */

           /* =================BENEFITS TABLET MOBILE================== */
            .container-benefits {
                box-sizing: content-box;
                margin-right: auto;
                margin-left: auto;
            }

            .container-benefits-list {
                display: flex;
                flex-wrap: wrap;
                column-gap: 24px;
                row-gap: 72px;
            }

            .benefits-list {
                display: block;
            }

            

            .benefits-list-item {
                max-width: 356px;
            }


            .container-benefits-item {
                margin-bottom: 0;
            }

                .container-benefits-item:not(:last-child) {
                    margin-bottom: 0;
                }
           /* =================/BENEFITS TABLET MOBILE================== */

           /* ==================TEAM MENU TABLET==================== */
           .container-list-item {
            display: flex;
            column-gap: 24px;
            row-gap: 64px;
            flex-wrap: wrap;
            justify-content: center;
           }

           
           
           .name:not(:last-child) {
            margin-bottom: 0px;
        }

        /* ==================TEAM MENU TABLET==================== */

        /* ==================PORTFOLIO MENU TABLET================== */

        .container-portfolio-design {
          max-width: 768px;
        }

        .container-portfolio {
          /* box-sizing: content-box; */
          flex-direction: row;
          display: flex;
          flex-wrap: wrap;
          margin-right: auto;
          margin-left: auto;
          justify-content: center;
          column-gap: 24px;
          row-gap: 72px;
        }

        /* ==================/PORTFOLIO MENU TABLET================== */

        /* ==================FOOTER MENU TABLET================== */
        .footer {
          padding:96px 108px;
        }

        .footer-desing {
          display: flex;
          gap: 24px;
          row-gap: 72px;
          flex-wrap: wrap;
        }

        .footer-desing-item {
          margin-bottom: 0;
      }

      .footer-link-item {
        margin-bottom: 0;
      }



        .logo-footer {
          display: inline-block;
        }

        .footer-subscribe-text {
          display: block;
        }

        .footer-subscribe-form {
          display: flex;
          gap: 24px;
          flex-direction: row;
        }

        .footer-subscribe-input {
          max-width: 264px;
        }

        

        /* ==================/FOOTER MENU TABLET================== */

        /* =================BACKDROP TABLET MENU================ */
        .modal {
          width: 408px;
          min-height: 584px;
          padding: 72px 24px 24px 24px;
        }


        /* =================/BACKDROP TABLET MENU================ */
           
          }






          @media screen and (min-width: 1158px) {
            .container {
                max-width: 1158px;
            }


/* ==============DESKTOP HEADER STYLE================= */
            .logo {
                margin-right: 76px;
            }

            .page-navigation-contact {
                display: flex;
                gap: 40px;
            }

            .mobile-contact {
              color: #434455;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.02em;
            }

            .mobile-contact:not(:last-child) {
                margin-bottom: 0px;
               }

               .nav-link-list {
                padding-top: 24px;
                padding-bottom: 24px;  
               }

            /* ==============/DESKTOP HEADER STYLE================= */

            /* ===============DESKTOP MAIN STYLE================== */
            .main {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
                background-color: #2E2F42;
                max-width: 1440px;
                height: 600px;
                padding-top: 188px;
            }

            @media screen and (min-resolution: 192dpi),
            screen and (min-resolutiion: 2dppx),
            screen and (min-device-ratio: 2) {
                .main {
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg);
                }
               }

            .main-button {
                max-width: 496px;
                margin-bottom: 48px;
            }
            /* ===============/DESKTOP MAIN STYLE================== */

            /* =================BENEFITS DESKTOP MOBILE================== */

            .section-benefits {
              padding: 120px 16px;
            }

            .logo-icon {
                line-height: 0; 
            }

            .benefits-icon {
                display: flex;
                gap: 24px;
            }

            .icon-list {
                display: flex;
                 align-items: center; 
                 justify-content: center; 
                height: 112px;
                background-color: #F4F4FD;
                border-radius: 4px;
                margin-bottom: 8px;
                border: 1px #8E8F99 solid;
            }

            .container-benefits {
                
            }

            .container-benefits-list {
                justify-content: center;
                display: flex;
                gap: 24px;
            }

            .container-benefits-item {
              max-width: 264px;
                width: calc((100% - 72px) / 4);
                }

                .benefits-list {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                }

                .benefits-list-item {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                }


            /* =================/BENEFITS DESKTOP MOBILE================== */

            /* ==================TEAM MENU DESKTOP==================== */
            .team-list {
            }

            .container-list-item {
                gap: 24px;
                justify-content: center;
                text-align: center;
            }

            .name {
                width: calc((100% - 3 * 24px) / 4);
            }

            .team {
              padding-top: 120px;
                padding-bottom: 120px;
            }
            /* ==================/TEAM MENU DESKTOP==================== */

            /* ===================DESKTOP PORTFOLIO MENU=================== */
            .section-portfolio {
              display: flex;
              justify-content: center;
              padding: 120px 16px;
            }

            .container-portfolio-design {

              max-width: 1158px;
            }

            .container-portfolio {
              column-gap: 24px;
              row-gap: 48px;
              justify-content: center;
          }

          .container-portfolio-list {
            width: calc((100% - 48px) / 3);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            overflow: hidden;
          }

          .overlay-item:hover {
            transform: translateY(0%);
        }

        .container-portfolio-list:hover {
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      }
      
      .container-portfolio-list:hover .overlay {
      transform: translateY(0%);
      }
      
      .overlay-list {
          position: relative;
          overflow: hidden;
      }
      
      .overlay {
          position: absolute;
          top: 0;
          left: 0;
          background-color: #4D5AE5;
          width: 100%;
          height: 100%;
          overflow: auto;
          transform: translateY(100%);
          transition: transform 250ms linear;
      }
      
      .overlay-list p {
          color: #F4F4FD;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.02em;
          position: absolute;
          top: 0;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #f4f4fd;
          padding: 40px 32px;
          background-color: #4d5ae5;
          height: 100%;
          width: 100%;
          transform: translateY(100%);
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
          
      }

      .overlay-item {
        display: flex;
       }

       .overlay {
        display: flex;
       }

            /* ===================/DESKTOP PORTFOLIO MENU=================== */

            /* ====================DESKTOP FOOTER MENU===================== */
            .footer {
              padding: 100px 16px;
            }

            .footer-desing {
              display: flex;
              justify-content: ;
              align-items: baseline;
              gap: unset;
          }

          .footer-desing-item {
            margin-right: 120px;
        
        }
        
        .footer-link-item {
          margin-right: 80px;
        }

        .footer-subscribe {
          
      }

      .footer-link {
        display: block;
      }


            /* ====================/DESKTOP FOOTER MENU===================== */
          }